<html style="background-color:paleturquoise; font-family:'Franklin Gothic Medium'">
    <head style>
        <title>{{title}}</title>
        <script type = "text/javascript">
            if (!("/x".includes(document.location.toString().slice(-1)))) document.location += "/"
        </script>
    </head>
    <body>
        <h1>Welcome to {{title}}</h1>
        <p>
        	This project has taught us how to generate and sort random numbers.
        </p>
        <ul>
            <li><a href="ex1">Exercise 1</a></li>
            <li><a href="ex2">Exercise 2</a></li>
        </ul>
        <p> Made by: Joe, Qi Xiang, Kaelen Tay Kai Gen</p>
    </body>
</html>
